@font-face {
    font-family: 'KoPubDotumMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/KoPubDotumMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    width: 100%;
    display: flex;
    margin: 0; padding: 0;
    font-family: sans-serif;
    font-size: 75%;
    background-color: white;
}
.controls{
    padding: 0 5px;
    justify-content:space-between;
    flex-direction:column;
    position:absolute;
    top:0;
    left:50%;
    width:800px;
    margin:20px 0 0 -400px;
    text-align:left;
    border-radius:5px;
    background-color: #fff;
    font-size: 90%;
}
.controls .control {
    background-color: #eee;
    border-radius: 3px;
    padding: 5px;
    margin: 5px 0;
}
#init_setting input[type=range] {
    -webkit-appearance: none;
    appearance: none;
    width: 430px;
    height: 10px;
    background-color: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    border-radius: 5px;
}
#init_setting input[type=number] {
    width: 50px;
}
#init_setting input[type=text] {
    width: 150px;
}
#init_setting input:hover {
    opacity: 1;
}
#init_setting input::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: #04aa6d;
    cursor: pointer;
    border-radius: 50%;
}
#advanced_setting input {
    width: 430px;
}

.controls .control label { display: inline-block; }
.controls .control p label { margin-right: .5em; font-size: 120%; font-weight: bold;}
.controls .control p { margin-top: 0;}

.board {
    position: absolute;
    border: 1px solid black;
    width: 1650px;
    height: 800px;
    left: 135px;
}
.board div {
    position: absolute;
    width: 800px;
    height: 800px;
    display: inline;
}

.board .svg_wrapper_Outside{
    float: left;
}
.board div span {
    font-size: 10px;
    text-align: center;
    font-weight: bold;
}
div.control_panel {
    position: absolute;
    border: 1px solid black;
    background-image: url("../img/control_panel2.svg");
    width: 1650px;
    height: 160px;
    left: 135px;
    top: 800px;
}

div.panel_output {
    position: absolute;
    font-size: 25px;
    width: 300px;
    top: 90px;
    text-align: center;
    font-weight: bold;
}
div.panel_output.infectious {
    left: 115px;
}
div.panel_output.hospital {
    left: 415px;
}
div.panel_output.death {
    left: 715px;
}
div.panel_output.GDP {
    left: 1015px;
}
div.panel_output.budget {
    left: 1315px;
}

.panel_button {
    position: absolute;
    top: 15px;
    left: 15px;
    width: 100px;
}
.panel_button input {
    display: block;
    border: 1px solid black;
    background-color: rgba(0,0,0,0);
    color: #4e7070;
    padding: 5px;
    font-size: 18px;
    width: 80px;
    height: 45px;
    margin: 0 auto;
}
.panel_button input:hover {
    color: white;
    background-color: #b0dcde;
}
.panel_button #button_stop:hover {
    color: #254488;
    background-color: white;
}
.panel_button #button_stop {
    color: white;
    background-color: #667cb8;
}
svg {
    border:1px solid black;
}
.popup {
    display:none;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
}
.popBg {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.7);
}
.popInnerBox {
    display:flex;
    justify-content:space-between;
    flex-direction:column;
    position:absolute;
    top: 20px;
    left: 400px;
    width:1080px;
    height:720px;
    margin: 0 auto;
    text-align:center;
    border: 1px solid black;
    border-radius:5px;
    background-color: white;
}
.popHead {
    padding:15px;
    background-color: #606060;
    color:#fff;
    font-size:18px;
    height: 30px;
}
.popBody {
    height: 660px;
    padding: 30px;
    box-sizing:border-box;
    font-size:16px;
}

#popup_result .popBody .popChart {
    border: 1px solid black;
    border-radius: 5px;
    width: 900px;
    height: 400px;
    max-width: 100%;
    margin: 10px auto;
}
#popup_result div.popBody table.result {
    width: 900px;
    height: 400px;
    padding: 10px;
    font-size: 25px;
    border-collapse: collapse;
}
#popup_result div.popBody table.result tr {
    height: 80px;
}
#popup_result div.popBody table.result tr.label {
    height: 40px;
    border-bottom: 1px solid black;
    font-weight: bold;
}
#popup_result div.popBody table.result td {

}
#popup_result div.popBody table.result td.star {
    color: black;
    font-size: 40px;
}
div.panel_policy_result {
    font-size: 40px;
}
#popup_result .popBody input {
    margin: 15px auto;
    max-width: 100%;
    display: block;
    width: 80px;
    font-size: 18px;
    color: #578172;
    background-color: rgba(0,0,0,0);
    border: 1px solid black;
    border-radius: 5px;
}
#popup_result .popBody input:hover {
    color: white;
    background-color: #578172;
}

#popup_init #button_start {
    margin: 15px auto;
    max-width: 100%;
    display: block;
    width: 80px;
    font-size: 18px;
    color: #578172;
    background-color: rgba(0,0,0,0);
    border: 1px solid black;
    border-radius: 5px;
}
#popup_init #button_start:hover {
    color: white;
    background-color: #578172;
}
#sim_board circle {
    stroke: black;
    stroke-width: 1px;
}

#sim_board circle[class="node_#000000"] {
    opacity: 25%;
    stroke: none;
}

.sidebar {
    width: 125px;
    height: 100%;
    border: 1px solid black;
    border-radius: 5px;
}
.sidebar div {
    border-radius: 5px;
    background-color: white;
}
.sidebar .Day {
    padding: 5px;
    margin: 5px;
    width: 80%;
    height: 50px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 25px;
    text-align: center;
}
.sidebar .speed {
    padding: 5px;
    margin: 5px;
    width: 80%;
    height: 50px;
    top: 70px;
}
.sidebar .speed .button {
    width: 100%;
}
.sidebar .speed .button input {
    width: 49%;
    margin-top: 3px;
    padding: 0;
}
.sidebar .speed .button #speed_slower {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    margin-right: -2px;
}
.sidebar .speed .button #speed_faster {
    margin-left: -2.5px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

div.auto {
    margin: 0 0 0 45px;
}

#speed_output_wrapper {
    text-align: center;
    font-size: 18px;
    width: 100%;
    font-weight: bold;
    border: 1px solid black;
    border-radius: 5px;
}
.speed input[type=button] {
    margin: 1px;
    display: inline;
    width: 46.5%;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #b0dcde;
    color: black;
}

.speed input[type=button]:hover {
    background-color: #254488;
    color: white;
}

#board > div.daily.legend {
    position: absolute;
    display: inline-block;
    top: 0;
    left: 810px;
    height: 300px;
    padding: 0;
}

div.daily.legend {
    position: relative;
    display: inline-block;
    height: 300px;
}

#board > div.daily.legend img {
    padding: 0;
    margin: 0;
    width: 800px;
}

div.daily.legend img {
    height: 300px;
}

output.daily.legend {
    position: absolute;
    font-size: 25px;
    color: white;
}
output.daily.legend.duration.E2-I1 {
    top: 73px;
    left: 60px;
}
output.daily.legend.duration.I1-I2 {
     top: 73px;
     left: 395px;
 }
output.daily.legend.duration.I1-R1 {
    top: 73px;
    left: 221px;
}
output.daily.legend.rate.infectious {
    top: 73px;
    right: 205px;
}
output.daily.legend.rate.severity {
    top: 73px;
    right: 55px;
}

output.daily.legend.num {
    color: black;
    top: 153px;
}
output.daily.legend.num.S {
    right: 710px;
}
output.daily.legend.num.E1 {
    right: 600px;
}
output.daily.legend.num.E2 {
    right: 485px;
}
output.daily.legend.num.I1 {
    right: 371px;
}
output.daily.legend.num.I2 {
    top: 188px;
    right: 260px;
}
output.daily.legend.num.H2 {
    top: 188px;
    right: 142px;
}
output.daily.legend.num.R1 {
    right: 22px;
}
output.daily.legend.num.R2 {
    top: 231px;
    right: 22px;
}

.board svg.legend {
    position: absolute;
    top: 10px;
    left: 675px;
    width: 110px;
    height: 70px;
    font-size: 15px;
    display: block;
    background-color: white;
}

.panel_policy {
    position: absolute;
    top: 10px;
    left: 200px;
    border: none;
    border-radius: 5px;
    width: 1400px;
    height: 140px;
}

#death_board {
    position: absolute;
    left: 810px;
    top: 310px;
}

#chart_board {
    position: absolute;
    left: 810px;
    top: 555px;
}

#popup_weekly .popInnerBox {
    background-color: white;
    height: auto;
}

#popup_weekly .popHead {
    margin: 3px 3px 3px 3px;
    background-color: rgba(0,0,0,0.9);
    border-radius: 10px;
}

input.weekly.tab.switch {
    margin-right: -10px;
    font-size: 18px;
    width: 150px;
    height: 50px;
    background-color: white;
    color: #254488;
    border: 1px solid black;
}
input.weekly.tab.switch:hover {
    background-color: #b0dcde;
    color: white;
}
input.weekly.tab.switch[active="true"] {
    background-color: #5260d0;
    color: white;
}
input.weekly.tab.switch.overall {
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}
input.weekly.tab.switch.age {
}
input.weekly.tab.switch.area {
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

#popup_weekly .popBody {
    background-color: rgba(256,256,256,0.5);
    font-size: 20px;
    text-align: left;
    height: auto;
}

#popup_weekly .weekly_board {
    border: 1px solid black;
    border-radius: 5px;
    width: 100%;
    height: 200px;
    margin: 10px 0 0 0;
}

#popup_weekly .panel_policy {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    margin: 5px;
}

svg.area_policy.area_board {
    margin: 10px;
    width: 600px;
    height: 600px;
}

div.weekly.tab.content.age {
    display: none;
    height: auto;
}
div.weekly.tab.content.area {
    display: none;
    height: auto;
}

#button_wrapper {
    width: 100%;
    text-align: center;
}

#button_resume {
    margin: 5px;
    padding: 10px 100px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 20px;
    color: #524782;
    background-color: white;
}

#button_resume:hover {
    color: white;
    background-color: #524782;
}
div.area_policy {
    position: absolute;
    display: inline-block;
    width: 600px;
    height: 600px;
}
tr.policy.info td {
    width: 80px;
}
div.area_policy.options {
    margin: 10px;
    left: 0;
}
select.area_policy.option {
    font-size: 150%;
    width: auto;
    position: absolute;
}
select.area_policy.option.upper {
    top: 22%;
}
select.area_policy.option.lower {
    bottom: 22%;
}
select.area_policy.option.left {
    left: 15%;
}
select.area_policy.option.right {
    right: 15%;
}

.panel_policy input[type=range] {
    width: 200px;
}
.panel_policy input[type=number] {
    width: 40px;
}

.panel_policy label {
    text-align: center;
    font-size: 17px;
}

.panel_policy table td {
    width: 60px;
    font-size: 16px;
    text-align: center;
}

.table_ages td {
    color: blue;
    font-weight: bold;
}

.panel_status {
    width: 100%;
    margin: 5px 0 0 0;
}

.panel_status tr td {
    width: 25%;
    border: none;
    text-align: center;
    font-weight: bold;
    color: black;
}
tr.panel.var td{
    opacity: 100%;
    font-size: 30px;
}
tr.panel td {
    font-size: 23px;
    opacity: 0;
}

div.weekly p {
    margin: 10px;
}

.weekly.legend {
    position: absolute;
    left: 920px;
    top: 300px;
}
.weekly.legend svg {
    background-color: white;
    width: 100px;
    height: 65px;
    font-size: 15px;
}

.weekly.tag.column {
    width: 180px;
}

#duration_label::after {
    content: "E1->E2; E2->I1; I1->I2; I1->H1; I1->R1; I2->H2; I2->R2; H2->R1";
}

.stat input[type="button"] {
    border: none;
    background: none;
    color: black;
}

.stat input[type="button"]:hover {
    color: #98E294;
}



td.stat.label {
    padding-left: 10px;
    padding-right: 10px;
    border-right: 1px solid black;
}

text.stat.total {
    padding-left: 10px;
}

table.stat {
    border-collapse: collapse;
    border: 1px solid black;
    font-size: 15px;
    color: black;
    margin: 10px;
}

div.stat.left {
    display: inline-block;
    position: relative;
}

.stat.description {
    display: inline-block;
    position: absolute;
    margin: 10px 0 0 0;
    width: 300px;
}

div.stat.desc {
    display: none;
}