body {
    width: 100%;
    display: flex;
    margin: 0; padding: 0;
    font-family: sans-serif;
    font-size: 75%;
}
.controls{
    flex-basis: 200px;
    padding: 0 5px;
}
.controls .control {
    background-color: #eee;
    border-radius: 3px;
    padding: 5px;
    margin: 5px 0;
}
.controls input[type="checkbox"] { transform: scale(1.2, 1.2);}
.controls input[type="range"] {margin: 0 5% 0.5em 5%; width: 90%;}
.controls input[type="text"] {width: 30px;}
.controls input[type="number"] {width: 30px;}
.controls .control label { display: inline-block; }
.controls .control p label { margin-right: .5em; font-size: 120%; font-weight: bold;}
.controls .control p { margin-top: 0;}

.board {
    border: 1px solid black;
}
.board div {
    float: left;
}
.board .svg_wrapper_Outside{
    float: left;
}
.board div span {
    font-size: 10px;
    text-align: center;
    font-weight: bold;
}
svg {
    border:1px solid black;
}
table {
    border: 1px solid;
}
tr {
    border: 1px solid;
}
td {
    border: 1px solid;
}
