/*ver.2022.03.15.01*/

@font-face {
    font-family: 'KoPubDotumMedium';
    src: url('fonts/KoPubDotumMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'KoPubDotumBold';
    src: url('fonts/KoPubDotumMedium.woff') format('woff');

    font-style: normal;
}
@font-face {
    font-family: 'ONEMobilePOPRegular';
    src:url('fonts/ONEMobilePOP.eot?#iefix') format('embedded-opentype'),
    url('fonts/ONEMobilePOP.woff') format('woff'),
    url('fonts/ONEMobilePOP.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ONEMobileTitle';
    src:url('fonts/ONE Mobile Title.eot?#iefix') format('embedded-opentype'),
    url('fonts/ONE Mobile Title.woff') format('woff'),
    url('fonts/ONE Mobile Title.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Silkscreen';
    src: url('fonts/slkscr.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0 auto;
    display: flex;
    padding: 0;
    font-family: ONEMobilePOPRegular, sans-serif;
    font-size: 75%;
    width: 1920px;
    background-color: black;
    user-select: none;
}

.rescale {
    transform: scale(0.5);
    transform-origin: top left;
}

div.controls{
    background-image: url("../img/init_back.png");
    background-repeat: no-repeat;
    padding: 0;
    justify-content:space-between;
    flex-direction:column;
    position:absolute;
    top: 10%;
    left: 25%;
    width: 952px;
    height: 708px;
    text-align:left;
}
div.controls div,img,input {
    margin: 0;
    padding: 0;
    border: none;
}
div.controls > div.stat.wrapper > div.stat.left {
    position: absolute;
    top: 307px;
    right: 70px;
    width: 258px;
    height: 243px;
}
div.login.form img {
    position: absolute;
}
div.login.form img.login_image {
    top: 50px;
    left: 22px;
}
div.login.form img.login_submit {
    position: absolute;
    top: 170px;
    left: 44px;
}
div.login.form img.login_submit:hover {
    cursor: pointer;
    filter: brightness(1.2);
}

div.login.form div.userlist_dt {
    position: absolute;
    text-align: center;
}

img.userlist.host {
    box-shadow: 0 0 4px 2px red;
}

div.login.form div.student00 {
    top: 65px;
    left: 20px;
}
div.login.form div.student01 {
    top: 65px;
    left: 135px;
}
div.login.form div.student02 {
    top: 130px;
    left: 20px;
}
div.login.form div.student03 {
    top: 130px;
    left: 135px;
}

div.userlist_dt output {
    position: absolute;
    top: 37px;
    width: 101px;
    text-align: center;
}

div.login.form {
    position: absolute;
    top: 307px;
    right: 70px;
    width: 258px;
    height: 243px;
}
form#loginForm input {
    position: absolute;
    top: 80px;
    left: 19px;
    font-size: 22px;
    font-family: "ONE 모바일고딕 Regular", serif;
    text-align: center;
    margin: 10px 5px;
    padding: 20px 44px;
}
form#loginForm input[type=text] {
    width: 120px;
}
div.login.form input:hover {
    cursor: pointer;
}
form#loginForm input[type=submit]:not(:disabled):hover {
    box-shadow: 0 32px 0 0 rgba(0,0,0,0.25) inset, 0 -32px 0 0 rgba(0,0,0,0.25) inset;
    transition: all 0.3s;
}

#button_ready {
    background: none;
    position: absolute;
    right: 174px;
    top: 549px;
    width: 153px;
    height: 99px;
    cursor: pointer;
}
#button_start {
    background: none;
    position: absolute;
    right: 70px;
    top: 549px;
    width: 103px;
    height: 99px;
    cursor: pointer;
}
#Simulation > img:hover {
    filter: brightness(150%);
}

div.controls > div.control > img {
    position: absolute;
    right: 70px;
    top: 549px;
}

#init_setting input[type=range] {
    -webkit-appearance: none;
    appearance: none;
    width: 430px;
    height: 10px;
    background-color: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    border-radius: 5px;
}
#init_setting input[type=number] {
    width: 50px;
}
#init_setting input[type=text] {
    width: 150px;
}
#init_setting input:hover {
    opacity: 1;
}
#init_setting input::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: #04aa6d;
    cursor: pointer;
    border-radius: 50%;
}
#advanced_setting input {
    width: 430px;
}

.controls .control label { display: inline-block; }
.controls .control p label { margin-right: .5em; font-size: 120%;}
.controls .control p { margin-top: 0;}

.board .svg_wrapper_Outside{
    float: left;
}
.board div span {
    font-size: 10px;
    text-align: center;
}
div.panel_footer {
    position: absolute;
    background-image: url("../img/main_bottom_panel.png");
    background-repeat: no-repeat;
    top: 760px;
    left: 345px;
    width: 1045px;
    height: 158px;
}

div.panel_output {
    position: absolute;
    font-size: 25px;
    width: 315px;
    top: 100px;
    text-align: center;
}
div.panel_output.infectious {
    left: 129px;
}
div.panel_output.hospital {
    left: 285px;
}
div.panel_output.death {
    left: 413px;
}
div.panel_output.GDP {
    left: 580px;
    font-size: 23px;
}
div.panel_output.budget {
    left: 775px;
}

.popup {
    display:none;
    position:fixed;
    top:0;
    left:0;
    width:1920px;
    height:935px;
}
.popBg {
    position:absolute;
    top:0;
    left:0;
    width:inherit;
    height:inherit;
    background:rgba(0,0,0,0.7);
}
.popInnerBox {
    display:flex;
    justify-content:space-between;
    flex-direction:column;
    position:absolute;
    top: 20px;
    left: 400px;
    width:1080px;
    height:720px;
    margin: 0 auto;
    text-align:center;
    border: 1px solid rgba(0,0,0,0);
    border-radius:5px;
    background-color: rgba(0,0,0,0);
}
.popHead {
    padding:15px;
    background-color: #606060;
    color:#fff;
    font-size:18px;
    height: 30px;
}
.popBody {
    height: 780px;
    padding: 30px;
    box-sizing:border-box;
    font-size:16px;
}



#popup_result .popInnerBox {
    height: 800px;
    width: 1080px;
}

#popup_result div.popBody {
    position: absolute;
    width: 1080px;
}

div.panel_policy_result {
    position: absolute;
    top: 330px;
    left: 650px;
    width: 150px;
    height: 350px;
}

div.panel_policy_result div {
    position: absolute;
    font-size: 24px;
    align-content: center;
    width: 150px;
}

div.panel_policy_result div.time {
    top: 10px;
}
div.panel_policy_result div.infectious {
    top: 68px;
}
div.panel_policy_result div.ICU {
    top: 125px;
}
div.panel_policy_result div.deaths {
    top: 182px;
}
div.panel_policy_result div.GDP {
    top: 239px;
}
div.panel_policy_result div.budget {
    top: 296px;
}
svg.result.legend {
    width: 100px;
    height: 85px;
    position: absolute;
    right: 91px;
    top: 516px;
    background-color: white;
    opacity: 100%;
    border-right: none;
    border-top: none;
}

#popup_result .popBody input {
    margin: 680px auto 15px;
    max-width: 100%;
    display: block;
    width: 80px;
    font-size: 18px;
    color: #578172;
    background-color: rgba(0,0,0,0);
    border: 1px solid black;
    border-radius: 5px;
}
#popup_result .popBody input:hover {
    color: white;
    background-color: #578172;
}
#sim_board {
    position: absolute;
    top: 67px;
    left: 234px;
    width: 883px;
    height: 620px;
}
#sim_board rect.board {
    stroke: rgba(0,0,0,0);
    stroke-width: 5px;
}
#sim_board g.board.enabled:not(.active) rect.board:hover {
    stroke: rgba(255,236,56,0.5);
}
#sim_board g.board.enabled.active rect.board {
    stroke: rgba(255,236,56,1);
}
#sim_board g.board.enabled.active rect.board:hover {
    stroke: rgba(255,255,255,1);
}

#sim_container {
    position: absolute;
    margin: 60px 6px 6px 5px;
    overflow: visible;
}
#sim_container circle {
    stroke: none;
}
#sim_container circle.node.R2 {
    opacity: 0.2;
}

div.sidebar {
    position: absolute;
    top: 754px;
    left: 185px;
    width: 156px;
    height: 170px;
}
div.sidebar div.Day {
    font-size: 25px;
    position: absolute;
    top: 40px;
    text-align: center;
    width: 100%;
    color: #2E2886;
}
div.sidebar div.speed {
    position: absolute;
    top: 113px;
    width: 100%;
    height: 28px;
    font-size: 23px;
    text-align: center;
    color: #483021;
}
div.sidebar div.speed div.button {
    transform: translateY(-29px);
}
div.sidebar div.button input {
    background: none;
    position: absolute;
    top: 0;
    font-size: 30px;
    opacity: 0;
    cursor: pointer;
}
#speed_faster {
    right: 28px;
}
#speed_slower {
    left: 23px;
}

div.control_panel div.panel_button {
    position: absolute;
    top: 760px;
    left: 1406px;
    width: 344px;
    height: 173px;
    cursor: pointer;
}

div.panel_button img.active {
    position: absolute;
}
div.panel_button:hover img.active {
    filter: brightness(1.2);
}

#board > div.daily.legend {
    position: absolute;
    display: inline-block;
    top: 48px;
    left: 1150px;
    padding: 0;
}

div.daily.legend {
    position: absolute;
    top: 250px;
    display: inline-block;
    width: 571px;
    height: 398px;
    left: 52px;
}

div.daily.legend img.background {
    position: absolute;
    top: 173px;
}

div.virus.selection {
    position: absolute;
    top: 250px;
    right: 70px;
    z-index: 1;
}

select.virus.selection {
    position: absolute;
    top: 0;
    font-family: ONEMobilePOPRegular, sans-serif;
    appearance: none;
    -o-apperance: none;
    -webkit-appearance: none;
    -moz-apperance: none;
    /*background-color: #f9e3d9;*/
    /*color: #2e2886;*/
    background: none;
    padding: 17px;
    font-size: 17px;
    border: none;
    right: 0;
    width: 260px;
    height: 60px;
    cursor: pointer;
}
select.virus.selection option {
    position: absolute;
    text-align: left;
    border: none;
    border-radius: 5px;
    background-color: #f9e3d9;
    color: #2e2886;
}

div.virus.selection span.icoArrow {
    position: absolute;
    top: 26px;
    right: 23px;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
div.virus.selection span.icoArrow img {
    transition: .3s;
}
div.virus.selection select:focus + span.icoArrow img {
    transform: rotate(180deg);
}

div.virus.name {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 283px;
    height: 50px;
    text-align: center;
}
text.virus.name, input.virus.name {
    color: white;
    font-size: 20px;
    font-family: ONEMobilePOPRegular, sans-serif;
}
input.virus.name {
    background: none;
    border: none;
    text-align: center;
    width: 283px;
    height: 50px;
}
text.virus.name {
    position: absolute;
    top: 15px;
    left: 0;
    text-align: center;
    width: 283px;
    height: 20px;
}

div.daily.duration, div.daily.rate, div.daily.num {
    position: absolute;
    font-size: 16px;
    color: white;
    text-align: center;
    width: 50px;
}

div.daily > output {
    text-align: center;
}

div.daily.legend > div.duration, div.rate {
    top: 109px;
}
div.daily.duration.E2-I1 {
    right: 483px;
}
div.daily.duration.I1-I2 {
     right: 285px;
 }
div.daily.duration.I1-R1 {
    right: 374px;
}
div.daily.rate.infectious {
    right: 152px;
}
div.daily.rate.severity {
    right: 30px;
}

div.daily.num {
    color: black;
    top: 220px;
}
div.daily.num.S {
    right: 497px;
}
div.daily.num.E1 {
    right: 420px;
}
div.daily.num.E2 {
    right: 340px;
}
div.daily.num.I1 {
    right: 260px;
}
div.daily.num.I2 {
    top: 273px;
    right: 180px;
}
div.daily.num.H2 {
    top: 273px;
    right: 100px;
}
div.daily.num.R1 {
    right: 18px;
}
div.daily.num.R2 {
    top: 333px;
    right: 18px;
}

.board svg.legend {
    position: absolute;
    top: 10px;
    left: 675px;
    width: 110px;
    height: 70px;
    font-size: 15px;
    display: block;
    background-color: white;
}

.panel_policy {
    position: absolute;
    top: 10px;
    left: 200px;
    border: none;
    border-radius: 5px;
    width: 1400px;
    height: 140px;
}

div.graph {
    position: absolute;
    background-image: url("../img/main_graph_panel.png");
    left: 1150px;
    top: 458px;
    width: 573px;
    height: 232px;
    color: black;
}
div.graph g.Xaxis, g.Yaxis, g.Zaxis path {
    stroke-width: 2;
}
div.graph g.tick text {
    font-family: ONEMobilePOPRegular, sans-serif;
}

#chart_board {
    display: none;
}

#popup_weekly {
    width: unset;
    height: unset;
}

#popup_weekly .popInnerBox {
    height: auto;
    position: absolute;
    left: 1090px;
    top: -10px;
    width: 614px;
}

#popup_weekly .popHead {
    margin: 3px 3px 3px 3px;
    background-color: rgba(0,0,0,0.9);
    border-radius: 10px;
}

#popup_weekly .popBody img {
    position: absolute;
}

div.weekly.login.userlist {
    position: absolute;
    background-color: white;
    width: 162px;
    height: 76px;
    top: 125px;
    left: 450px;
    font-size: 16px;
}

input.weekly.tab.switch {
    position: absolute;
    width: 140px;
    height: 53px;
    background-color: rgba(0,0,0,0);
    color: white;
    font-family: ONEMobilePOPRegular, sans-serif;
    font-size: 110%;
    text-align: center;
    text-indent: 35px;
}

input.weekly.tab.switch[active=true] {
    color: yellow;
}

input.weekly.tab.switch:hover {
    color: yellow;
    font-size: 120%;
}

input.weekly.tab.switch.age {
    text-indent: 40px;
    left: 160px;
}
input.weekly.tab.switch.area {
    left: 335px;
}

div.weekly.switch.tabs {
    position: absolute;
    top: 151px;
    left: 91px;
}

div.weekly.tab.content img {
    position: absolute;
}
img.weekly.icon {
    position: absolute;
    top: 5px;
}
img.weekly.tab02 {
    position: absolute;
    left: 145px;
    top: 5px;
}
img.weekly.tab03 {
    left: 320px;
}
img.weekly.tab.back {
    top: 210px;
    left: 90px;
    width: 500px;
}
img.weekly.tab.back.age {
    left: 10px;
    width: 550px;
}

#popup_weekly .popBody {
    font-size: 16px;
    text-align: left;
    height: auto;
}

#popup_weekly .panel_policy {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    margin: 5px;
}

div.weekly.tab.content {
    position: absolute;
    top: 200px;
    left: 90px;

}

div.weekly_status {
    width: 520px;
    height: 240px;
}

div.weekly_status div.weekly.date {
    position: absolute;
    color: white;
    top: 8px;
    left: 165px;
}

div.weekly_status table {
    color: #2e2886;
    position: absolute;
    text-align: center;
    width: 403px;
    top: 76px;
    left: 93px;
    font-size: 80%;
    border-spacing: 0 1px;
}
div.weekly_status table tr td {
    width: 36px;
    height: 33px;
}
td.weekly.warning {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40%;
}
td.weekly.warning[data-value="0"] {
    background-image: url("../img/good.png");
    background-repeat: no-repeat;
    background-size: initial;
}
td.weekly.warning[data-value="1"] {
    background-image: url("../img/caution.png");
    background-repeat: no-repeat;
    background-size: initial;
}
td.weekly.warning[data-value="2"] {
    background-image: url("../img/bad.png");
    background-repeat: no-repeat;
    background-size: initial;
}

div.weekly_status p {
    color: #2e2886;
    font-size: 100%;
    position: absolute;
    top: 140px;
    left: 220px;
}
div.weekly_board {
    position: absolute;
    top: 260px;
    left: -20px;
    width: 545px;
    height: 185px;
}

div.weekly_board > svg > g > g.xAxis {
    visibility: hidden;
}

div.weekly_board > svg > g > g.yAxis text,g.zAxis text {
    color: white;
    font-family: ONEMobilePOPRegular, sans-serif;
}

div.weekly_board > svg > g > g.yAxis line, g.zAxis line, g.zAxis path {
    color: #f33e66;
    stroke-width: 2;
}


div.weekly.infectious {
    color: #2e2886;
    position: absolute;
    top: 162px;
    right: 168px;
    width: 260px;
    text-align: center;
}
div.weekly.death {
    color: #2e2886;
    position: absolute;
    top: 162px;
    right: 26px;
    width: 140px;
    text-align: center;
}

div.weekly.tab.content.age {
    display: none;
    height: 600px;
}

div.policy.level.confirm table {
    position: absolute;
    table-layout: fixed;
    width: 483px;
    border-spacing: 0 2px;
    top: 249px;
    left: 140px;
}

div.policy.level.confirm table input {
    font-size: 80%;
    width: 90px;
    height: 24px;
    background: none;
    text-align: center;
    font-family: ONEMobilePOPRegular, sans-serif;
    color: #2e2886;
    border: 1px solid rgba(0,0,0,0);
}
div.policy.level.confirm table input:hover {
    border: 1px solid white;
}

div.area_policy.options, svg.area_policy.area_board {
    position: absolute;
    display: inline-block;
    width: 293px;
    height: 179px;
    left: 641px;
    top: 213px;
}
div.area_policy.option {
    font-size: 17px;
    width: 100px;
    position: absolute;
    text-align: center;
    color: #2E2886;
}
input.area_policy.option {
    text-align: center;
    fill: none;
    background: none;
    font-size: 20px;
    cursor: pointer;
    color: #2E2886;
}
input.area_policy.option:hover {
    color: #04aa6d;
}

div.area_policy.option.upper {
    top: 33px;
}
div.area_policy.option.lower {
    bottom: 33px;
}
div.area_policy.option.left {
    left: 22px;
}
div.area_policy.option.right {
    right: 22px;
}
svg.area_policy.area_board {
    width: 330px;
    height: 250px;
    opacity: 0;
}

div.weekly.tab.content.area {
    display: none;
    height: 600px;
}
input.policy.rate {
    position: absolute;
    top: 28px;
    left: 161px;
    width: 256px;
}
img.policy.bed {
    position: absolute;
    top: 218px;
    left: 371px;
}
img.policy.bed.dec {
    top: 263px;
}
img.policy.bed:hover {
    transform-origin: -12.5% -12.5%;
    transform: scale(0.6);
    cursor: pointer;
}

div.weekly.area.budget{
    position: absolute;
    top: 676px;
    left: 483px;
    width: 109px;
    height: 37px;
    text-align: center;
    color: #2E2886;
    font-size: 120%;
    line-height: 36px;
}

div.weekly.area.caution {
    width: 100%;
    text-align: center;
    opacity: 0;
}
div.weekly.area.caution p {
    color: white;
    transform: translateY(-8px);
}
div.weekly.budget.update {
    width: 100%;
    text-align: center;
    opacity: 0;
}
div.weekly.budget.update p {
    color: white;
}
svg.weekly.area.lines {
    position: absolute;
    width: 870px;
    height: 557px;
    left: -975px;
    top: -80px;
    transform: translateY(-20px);
}
line.weekly.border.invisible[data-click="0"] {
    stroke: black;
    opacity: 0;
    stroke-width: 10px;
    cursor: pointer;
}
line.weekly.border.invisible[data-click="0"]:hover {
    stroke: yellow;
    opacity: 50%;
    stroke-width: 10px;
    cursor: pointer;
}
line.weekly.border.invisible[data-click="1"] {
    stroke: red;
    opacity: 50%;
    stroke-width: 5px;
    cursor: pointer;
}
line.weekly.border.invisible[data-click="1"]:hover {
    stroke: yellow;
    opacity: 25%;
    stroke-width: 10px;
    cursor: pointer;
}
line.weekly.border.visible {
    stroke: none;
    stroke-width: 2px;
}

#button_wrapper {
    position: absolute;
    top: 770px;
    left: 315px;
    width: 328px;
    height: 157px;
    text-align: center;
    align-content: center;
    font-size: 15px;
    background-color: rgba(0,0,0,0);
}

#button_turnReady {
    border: none;
    background-color: rgba(0,0,0,0);
    width: 123px;
    right: 0;
    position: absolute;
    cursor: pointer;
}
#button_turnReady:hover {
    filter: brightness(150%);
}

#button_resume {
    background-color: rgba(0,0,0,0);
    width: 123px;
    top: 80px;
    position: absolute;
    right: 0;
    cursor: pointer;
}
#button_resume:hover {
    filter: brightness(150%);
}

div.login.userlist.weekly {
    left: 0;
    top: 0;
    width: 205px;
}
div.login.userlist.weekly img {
    left: 0;
    top: 0;
}
div.login.userlist.weekly div.userlist_dt {
    position: absolute;
    text-align: center;
    align-content: center;
}
div.login.userlist.weekly div.student00 {
    width: 80px;
    height: 45px;
    top: 40px;
    left: 20px;
}
div.login.userlist.weekly div.student01 {
    width: 80px;
    height: 45px;
    top: 40px;
    left: 105px;
}
div.login.userlist.weekly div.student02 {
    width: 80px;
    height: 45px;
    top: 90px;
    left: 20px;
}
div.login.userlist.weekly div.student03 {
    width: 80px;
    height: 45px;
    top: 90px;
    left: 105px;
}

div.login.userlist.weekly div.userlist_dt img {
    width: 80px;
}

div.login.userlist.weekly div.userlist_dt output {
    width: 80px;
    left: 0;
    top: 25px;
    text-align: center;
    font-family: "ONEMobileTitle", sans-serif;
}

.panel_policy input[type=number] {
    width: 40px;
}

.panel_policy label {
    text-align: center;
    font-size: 17px;
}

.panel_policy table td {
    width: 60px;
    font-size: 20px;
    text-align: center;
}

.table_ages td {
    color: blue;
}

.panel_status {
    width: 100%;
    margin: 5px 0 0 0;
}

.panel_status tr td {
    width: 25%;
    border: none;
    text-align: center;
    color: black;
}
tr.panel.var td{
    opacity: 100%;
    font-size: 30px;
}
tr.panel td {
    font-size: 23px;
    opacity: 0;
}

div.weekly p {
    margin: 10px;
}

.weekly.legend {
    position: absolute;
    left: 920px;
    top: 460px;
}
.weekly.legend svg {
    opacity: 80%;
    background-color: white;
    width: 100px;
    height: 42px;
    font-size: 15px;
}

.weekly.tag.column {
    width: 180px;
}

#duration_label::after {
    content: "E1->E2; E2->I1; I1->I2; I1->H1; I1->R1; I2->H2; I2->R2; H2->R1";
}

.stat input[type="button"] {
    border: none;
    background: none;
    color: rgba(0,0,0,0);
}

table.stat {
    border-collapse: collapse;
    font-size: 18px;
    color: black;
    position: absolute;
    top: 60px;
    left: 69px;
    table-layout: fixed;
    width: 167px;
}
table.stat td {
    height: 22px;
}
table.stat td.stat.info {
    width: 14px;
    cursor: pointer;
}
table.stat td.stat.info.stat2 {
    transform: translateX(16px);
}
table.stat td.stat.info.stat4 {
    transform: translateX(27px);
}
table.stat td.stat.block {
    width: 83px;
}
table.stat td.stat.value {
    text-align: center;
    width: 35px;
    overflow: visible;
}
table.stat input {
    cursor: pointer;
}
div.stat.left text {
    position: absolute;
    top: 169px;
    left: 143px;
    width: 40px;
    text-align: center;
    color: #f33e66;
}
div.stat.button.clear {
    position: absolute;
    top: 206px;
    left: 175px;
    width: 60px;
    height: 30px;
    cursor: pointer;
}

.stat.description {
    display: none;
    position: absolute;
    width: 578px;
    height: 169px;
    top: 255px;
    left: 57px;
    z-index: 3;
}

div.stat.desc {
    display: none;
}

div.stat.description img.close_btn {
    position: absolute;
    top: 20px;
    right: 30px;
    cursor: pointer; 
}

div.popBody.node {
    position: absolute;
    width: auto;
    height: auto;
    top: 0;
    left: 0;
    padding: 0 10px;
    font-size: 18px;
    transform: translate(-126px, 7px);
}

#popup_node div.popBg {
    background:rgba(0,0,0,0);
}

g.nodes {
    z-index: 0;
}

#popupInnerPopup div.popBody {
    position: absolute;
    left: 365px;
    top: 300px;
    height: auto;
}
img.innerPopup {
    position: absolute;
    left: 0;
}
img.innerPopup.resume {
    top: 297px;
    left: 150px;
}
img.innerPopup.resume:hover {
    filter: brightness(150%);
    cursor: pointer;
}

output.innerPopup.budget.gain {
    color: #6b00ff;
    position: absolute;
    width: 380px;
    top: 160px;
    font-size: 33px;

}

#popupDescPopup {
    width: fit-content;
    height: fit-content;
    position: absolute;
    top: unset;
    left: unset;
}

#popupDescPopup div.popInnerBox {
    width: fit-content;
    height: fit-content;
    top: 0;
    left: 0;
}
#popupDescPopup img.descPopup {
    filter: drop-shadow(0px 0px 2px #a0a0a0);
}

#popupDescPopup table {
    position: absolute;
    color: white;
    width: 527px;
    height: 68px;
    top: 83px;
    left: 20px;
    border-collapse: collapse;
}
#popupDescPopup td.descPopup {
    border-left: 1px solid white;
    width: 48px;
}
#popupDescPopup td.descPopup.age {
    border-bottom: 1px solid white;
    font-size: 115%;
}
#popupDescPopup td.descPopup.label {
    color: #fcda9b;
    font-size: 115%;
    border-radius: 5px;
    border-left: none;
}

div.weekly.desc {
    width: 153px;
    height: 30px;
    position: absolute;
}


div.weekly.age.desc {
    top: -30px;
    left: -34px;
}
div.weekly.area.desc {
    top: -29px;
    left: -37px;
    width: 123px;
}

div.weekly.age.desc img {
    display: none;
}
div.weekly.age.desc:hover img {
    display: block;
    top: -120px;
    left: -500px;
}
div.weekly.area.desc img {
    display: none;
}
div.weekly.area.desc:hover img {
    display: block;
    top: -120px;
    left: -500px;
}
#popup_weekly img.clickHere{
    position: absolute;
    top: 464px;
    left: -361px;
    background-color: rgba(30,30,30,0.5);
    border-radius: 30px;
    transform: scale(0.4);
}
div.weekly.age.policy {
    width: 103px;
    height: 23px;
    line-height: 23px;
    position: absolute;
    top: 112px;
    text-align: center;
    vert-align: middle;
    font-size: 90%;
}
div.weekly.age.policy label.stage {
    color: #f33e66;
}
img.weekly.age.on_off {
    position: absolute;
    top: 0;
    left: 0;
    transform: scale(0.5);
}
img.weekly.age.on_off:hover {
    filter: brightness(1.2);
}

div.weekly.age.policy.child {
    left: -57px;
}
div.weekly.age.policy.adult {
    left: 91px;
}
div.weekly.age.policy.elder {
    left: 240px;
}
table.weekly.age.occurrence {
    position: absolute;
    border-collapse: collapse;
    top: 342px;
    left: 47px;
    width: 389px;
    height: 78px;
}
table.weekly.age.occurrence td {
    color: white;
    font-size: 100%;
    height: 26px;
    padding: 0;
    line-height: 26px;
}
g.board.enabled image.board_icon {
    display: block;
}
g.board:not(.enabled) image.board_icon {
    display: none;
}

div.weekly.beds {
    position: absolute;
    top: 252px;
    left: 76px;
    width: 275px;
    height: 42px;
    color: white;
    align-content: center;
}
div.weekly.bed {
    width: 129px;
    top: 0;
    position: absolute;
    text-align: center;
}
div.weekly.bed.cost {
    left: 181px;
    width: 101px;
}

svg > text {
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

div.weekly.statistics {
    position: absolute;
    top: 50px;
    left: 72px;
    text-align: center;

}

div.weekly.statistics table {
    color: #2E2886;
        text-align: center;
    width: 388px;
}

div.weekly.statistics td {
    font-size: 18px;
    line-height: 21px;
    width: 129px;
    height: 21px;
    overflow: hidden;
}

g.actions {
    position: absolute;
    top: 20px;
}
g.actions img:hover {
    cursor: pointer;
    filter: brightness(1.2);
}

g.actions.action01 img {
    top: 240px;
}
g.actions.action02 img {
    top: 335px;
}
g.actions img.student01.increase {
    left: 160px;
}
g.actions img.student01.decrease {
    left: 95px;
}
g.actions img.student02.increase {
    left: 295px;
}
g.actions img.student02.decrease {
    left: 225px;
}
g.actions img.student03.increase {
    left: 430px;
}
g.actions img.student03.decrease {
    left: 360px;
}

g.actions div {
    position: absolute;
    width: 129px;
    height: 31px;
    line-height: 31px;
    font-size: 20px;
    color: white;
    text-align: center;
}
g.actions div output {
    text-align: center;
    width: 129px;
    height: 31px;
    line-height: 31px;
    font-size: 20px;
}
g.actions.action01 div {
    top: 245px;
}
g.actions.action02 div {
    top: 340px;
}

g.actions div.student01 {
    left: 70px;
}
g.actions div.student02 {
    left: 204px;
}
g.actions div.student03 {
    left: 338px;
}

div.hint {
    position: absolute;
    top: 60px;
    right: 210px;
    width: 65px;
    height: 65px;
    background: url("../img/helpIconDefault.png") no-repeat center;
}
div.hint:hover {
    background: url("../img/helpIconHover.png") no-repeat center;
}
output.numHintFound {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #04aa6d;
    border-radius: 10px;
    font-size: 13px;
    font-family: "ONEMobileTitle", sans-serif;
    text-align: center;
    line-height: 20px;
    font-weight: bold;
    color: white;
}

div.hintBox {
    background: url("../img/Key facts.png") no-repeat center;
}

div.hintTitle {
    position: absolute;
    width: 730px;
    height: 100px;
    top: 105px;
    left: 170px;
    text-align: left;
}

div.hintBody {
    position: absolute;
    width: 730px;
    height: 400px;
    top: 250px;
    left: 170px;
}

div.hintTitle input.topic {
    position: relative;
    height: 30px;
    font-size: 25px;
    color: rgba(0,0,0,0);
    background-color: rgb(150,150,150);
    margin: 5px 10px;
    padding: 3px 5px;
    border-radius: 5px;
    font-family: "ONEMobilePOPRegular", monospace;
}

div.hintTitle input.topic.found {
    color: #2e2886;
    background-color: yellow;
}
div.hintTitle input.topic.found:hover {
     filter: brightness(1.2);
 }

div.hintTitle input.topic.found.read {
    background-color: white;
}
div.hintTitle input.topic.found.read.selected {
    background-color: #98E294;
}

div.hintBox input.closeHint[type=button] {
    position: absolute;
    width: 930px;
    height: 45px;
    left: 75px;
    bottom: 20px;
    font-size: 20px;
    background: rgba(0,0,0,0.6);
    border-radius: 16px;
    color: white;
    font-family: "ONEMobilePOPRegular", monospace;
}
div.hintBox input.closeHint[type=button]:hover {
    background: rgba(0,0,0,1);
}

div.hintBody {
    color: white;
    font-size: 25px;
    text-align: left;
}